<a href="#" class="close-form">X</a>
<h2> <%= card.isNew() ? "New Card" : "Edit Card" %> </h2>
<label for="card_front">Front:</label>
<input type="file" id="front-image" name="card[front_image]">
  <textarea name="card[front]" rows="8" cols="40" id="card_front" placeholder="Front Beige(or picture beige ↑ )"><%= card.escape("front") %></textarea>
  
<label for="card_back">Back:</label> 
<input type="file" name="card[back_image]" id="back-image">
  <textarea name="card[back]" rows="8" cols="40" placeholder="Back Beige (or picture beige ↑)" id="card_back"><%= card.escape("back") %></textarea>

<div class="form-buttons">
  <button class="add-more">Save and Make More</button>
  
  <button class="card-done">Done making cards</button>   
</div>
