
<section class="card-front">
  <h3> Front: </h3>
<p>
  <%= card.escape("front") %><% if (card.escape("front_image_url").length > 3){ %><img src="<%=card.escape('front_image_url')%>" alt="front card image" class="study-front-image"/><% } %>
</p>

<button type="button" class="show-answer">Show Answer</button>
</section>
<section class="card-back hide">
  <h3> Back: </h3>
  <p>
    <%= card.escape("back") %><% if (card.escape("back_image_url").length > 3){ %><img src="<%=card.escape('back_image_url')%>" alt="back card image" class-"study-back-image"/><% } %>
  </p>
  
</section>
  <section class="answer-buttons hide">
    <h3>How did you do?</h3>
    <button type="button" class="wrong-answer">Wrong Answer (Score: 0)</button>
    <button type="button" class="kinda-right-answer">Kinda Right(Score: 1)</button>
    <button type="button" class="totally-right">Totally Right(Score: 2)</button>
  </section>
