<section class="form-header">
  <h1> Re-Face Your Space</h1>
</section>

<%= render "shared/user_form", action_url: users_url(current_user), button_text: "Save Face" %>


<form class="delete-account" action="<%= user_url(current_user)%>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" data-confirm="This is forever! Are you sure?" value="Erase Your Space(delete your account)">
</form>