<section class="form-header">
  <h1> Change your Beige!</h1>
</section>

<%= render "shared/user_form", action_url: user_url(current_user), button_text: "Save Beige" %>

<div class="form-buttons">
  <form class="delete-account" action="<%= user_url(current_user)%>" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="_method" value="delete">
    <button type="submit" > Delete Your Account: Bye Bye Beige <strong>Forever!</strong> </button>
    
  </form>
</div>
