
<main>
  <section class="welcome-message">
    
     <h1>StudyBeige</h1>
     
     <h2> 
       A clone of <a href="https://www.studyblue.com/">StudyBlue</a> with smart flashcards in beige.
    </h2>
      <a class="sign-up-btn" href="<%= new_user_url %>"> Sign Up Now!</a>
      <a href="sessions/guest" class="sign-up-btn">Guest Sign In</a>
    
  </section>

  <section class="flash-copy">

      <h2> 
        What's smart about our flashcards? 
      </h2> 
      <p>
        Our flashcards integrate a <em>customized spaced repetition algorithm</em> to help you learn better and faster. And then there's all this beige!    
      </p>
      <a class="sign-up-btn" href="<%= new_user_url %>"> Start Now!</a>

    
  </section>

</main>
