
<section class="welcome-message">
  
   <h1>StudyTwo</h1>
   
   <h2> 
     A clone of <a href="https://www.studyblue.com/">StudyBlue</a> with smart flashcards
  </h2>
    <a class="sign-up-btn" href="<%= new_user_url %>"> Sign Up Right Now!</a>
  
</section>

<section class="smart-flash-copy">
  <article>
    <h1> 
      What's smart about our flashcards? 
    </h1> 
    <p>
      Our flashcard integrate a <em>customized spaced repetition algorithm</em> to help you learn better and faster.    
    </p>
    <a class="sign-up-btn" href="<%= new_user_url %>"> Start Learning Now! </a>
  </article>
  
</section>


